<h3>Nuevo presupuesto</h3>

<% if !@last.nil? %>
    <span class="text-muted">&Uacute;ltimo ALG: <%= @last.codigoalg %></span>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', presupuestos_path, class:"btn btn-link" %>
